<h1>
  YOUR CART OF AWESOME
</h1>

<i class="fa fa-shopping-cart" aria-hidden="true"></i>

<% @total = 0 %>
<% @order_items.each do |item| %>
  <% product = Product.find(item.product_id) %>
  <ul>
    <li>
      <%= product.name %>
    </li>
    <li>
      Price: $<%= product.price_in_dollars %>
    </li>
    <li>
      Quantity: <%= item.quantity %>
      <% if product.quantity > 1 %>
        <%= form_for(item, url: update_cart_path(item.id), method: :patch) do |f| %>
          <%= f.label "Change Quantity" %>
          <%= f.select(:quantity, options_for_select((1..product.quantity)), include_blank: true) %>
          <%= f.submit "Update" %>
        <% end %>
      <% else %>
        (Only 1 left in stock!)
      <% end %>
    </li>
    <li>
      <%= link_to "Remove This Item", {:controller => :order_item, :action => 'destroy', :id => item.id}, method: :delete %>
    </li>
  </ul>
  <% @total += (product.price_in_dollars * item.quantity) %>
<% end %>

  <p>Total: <%= number_to_currency(@total) %></p>

<i class="fa fa-money" aria-hidden="true"></i>
<i class="fa fa-credit-card" aria-hidden="true"></i>


<%= link_to "Give us Money!", checkout_path %> </br>

<%= link_to "Back To Shop", products_path %>
