<pre><%= params %></pre>
<h1>Merchant Dashboard </h1>
<h2>Welcome, <%=@merchant.user_name%>. Please use this dashboard to manage your store.<h2>

<<<<<<< HEAD
<h3>Create a Category, if you please.</h3>
<%= form_for @category, :url => categories_path do |f| %>
  <%= f.label :category_name %>
  <%= f.text_field :name %>
=======
<h3>Create a Product Category, if you please.</h3>
<%= form_for @user, :url => users_path do |f| %>
  <%= f.label :new_catagory %>
  <%= f.text_field :category %>
>>>>>>> origin

  <%= f.submit %>
  <% end %>


<h3>Create a Product, if you please.</h3>
<%= form_for @product, :url => product_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price_in_dollars %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.label :catagories_separated_by_spaces %>
  <%= f.text_field :categories %>

  <%= f.hidden_field :user_id, :value => @merchant.id %>
  <%= f.hidden_field :visible, :value => true %>

  <%= f.submit %>
  <% end %>




<!--     t.integer  "user_id",                       null: false
    t.text     "categories",       default: [],              array: true
    t.boolean  "visible" -->
