<!-- <pre><%= params %></pre> -->
<%= current_user.id %>
<h1>Merchant Dashboard </h1>
<h2>Welcome, <%=@merchant.user_name%>. Please use this dashboard to manage your store.<h2>

<% if @category.errors.any? %>
  <ul class="errors">
    <% @category.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<h3>Create a Category, if you please.</h3>
<%= form_for @category, :url => categories_path do |f| %>
  <%= f.label :category_name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<h3>All Categories</h3>
<ul>
<% @categories.each do |category| %>
	<li><%= category.name %></li>

	<% end %></ul>

<h3>Create a Product, if you please.</h3>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price_in_dollars %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <% @categories.each do |category| %>
   	<%= f.label :category_ids, "#{category.name}", :value => category.name %>
  	<%= f.check_box :category_ids, {:multiple => true}, category.id, nil  %>
	<% end %>

	<%= f.hidden_field :user_id, :value => @merchant.id %>
  <%= f.hidden_field :visible, :value => true %>

  <%= f.submit %>
<% end %>

<h3>Your Products!</h3>
<table>
<% @products.each do |product| %>
	<tr>
		<td><%= link_to product.name, product_path(product.id) %></td>
    <% if product.visible == true %>
      <td><%= "Visible to buyers" %></td>
    <% else %>
      <td><%= "Not visible to buyers" %></td>
    <% end %>
    <td><%= button_to "Edit", edit_product_path, :method => :get, params: {product_id: product.id} %></td>
	</tr>
	<% end %>
</table>
