<pre><%= params %></pre>
<h1>Merchant Dashboard </h1>
<h2>Welcome, <%=@merchant.user_name%>. Please use this dashboard to manage your store.<h2>


<h3>Create a Category, if you please.</h3>
<%= form_for @category, :url => categories_path do |f| %>
  <%= f.label :category_name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<h2>All Categories</h2>
<ul>
<% @categories.each do |category| %>
	<li><%= category.name %></li>

	<% end %></ul>

<h3>Create a Product, if you please.</h3>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price_in_dollars %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <% @categories.each do |category| %>
   	<%= f.label :categories, "#{category.name}", :value => category.name %>
  	<%= f.radio_button :categories, true, :checked => :categories %>
	<% end %>

	<%= f.hidden_field :user_id, :value => @merchant.id %>
  <%= f.hidden_field :visible, :value => true %>

  <%= f.submit %>
<% end %>