<pre><%= params %></pre>
<h1>Merchant Dashboard </h1>
<h2>Welcome, <%=@merchant.user_name%>. Please use this dashboard to manage your store.<h2>

<h3>Create a Category, if you please.</h3>
<%= form_for @category, :url => categories_path do |f| %>
  <%= f.label :category_name %>
  <%= f.text_field :name %>

  <%= f.submit %>
  <% end %>


<h3>Create a Product, if you please.</h3>


