<h1>Manage Your Orders</h1>


<table>
	<tr>
		<th><h2>Unshipped Orders</h2></th>
	</tr>
	<tr>
		<th>Order Product</th>
		<th>Order Item Number</th>
		<th>Order Number</th>
		<th>Order Time</th>
		<th>Shipping Status</th>
	</tr>
<% @merchant_order_items.each do |order| %>
  <tr>
  	<% if order.shipped == false %>
  	  <td>
  			<%= link_to Product.find(order.product_id).name, order_item_path(order.id) %>
  		</td>
  		<td>
  			<%= order.order_id %>
  		</td>
    	<td>
    		<%= order.id %>
    	</td>
    	<td>
    		<%= Order.all.find(order.id).created_at %>
    	</td>
    	<td>
    		<%= form_for order do |f| %>
	      <%= f.label :mark_as_shipped %>
	      <%= f.radio_button :shipped, :true, :checked => :true %>
	      <%= f.submit %>
	      <% end %>
    	</td>
    <% end %>
  </tr>
  <% end %>
</table>
<br><br><br><br>
<table>
	<tr>
		<th><h2>Shipped Orders</h2></th>
	</tr>
	<tr>
		<th>Order Product</th>
		<th>Order Item Number</th>
		<th>Order Number</th>
		<th>Order Time</th>
		<th>Quantity</th>
		<th>Sale Total</th>
	</tr>
<% @merchant_order_items.each do |order| %>
  <tr>
  	<% if order.shipped == true %>
    	<td>
  			<%= link_to Product.find(order.product_id).name, order_item_path(order.id) %>
  		</td>
  		<td>
  			<%= order.order_id %>
  		</td>
    	<td>
    		<%= order.id %>
    	</td>
    	<td>
    		<%= Order.all.find(order.id).created_at %>
    	</td>
    	<td>
    		<%= order.quantity %>
    	</td>
    	<td>
    		<%= Product.find(order.product_id).price_in_dollars * (order.quantity) %>
    	</td>
    <% end %>
  </tr>
  <% end %>
</table>
<h2>Total Revenue</h2>
<%= @total_revenue %>
<!-- revenue of shipped orders -->
<!-- revenue of unshipped orders -->

<h2>Total Orders Shipped</h2>


