<%= @order %>


	<ul>
		<li>Name: <%= @order.name_on_cc %></li>

		<li>Address: <%= @order.address %></li>

		<li>Email: <%= @order.email %></li>

		<li>CC Expiration: <%= @order.expiration_on_cc %></li>
	</ul>


