<h2>
  <i class="fa fa-truck" aria-hidden="true"></i>
  Manage Your Orders
</h2>

<h3>
  Unshipped Orders
</h3>

<div class='container'>
  <table class='table table-striped'>
    <tr>
  		<th>
        Order Product
      </th>
  		<th>
        Order Item Number
      </th>
  		<th>
        Order Number
      </th>
  		<th>
        Order Time
      </th>
  		<th>
        Order Status
      </th>
  		<th>
        Shipping Status
      </th>
  	</tr>
    <% @merchant_order_items.each do |data| %>
      <tr>
        <% if data.shipped == false %>
      	  <td>
      			<%= link_to data.product.name, order_item_path(data.order.id) %>
      		</td>
      		<td>
      			<%= data.id %>
      		</td>
        	<td>
        		<%= link_to data.order.id, merchant_order_path(data.order.id) %>
        	</td>
        	<td>
        		<%= data.order.created_at %>
        	</td>
        	<td>
        		<%= data.order.status %>
        	</td>
        	<td>
        		<%= form_for data do |f| %>
    	       <%= f.label :mark_as_shipped %>
    	       <%= f.radio_button :shipped, :true, :checked => :true %>
    	       <%= f.submit %>
    	      <% end %>
        	</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div> 

<h3>
  Shipped Orders
</h3>
<div class='container'>
  <table class='table table-striped'>
  	<tr>
  		<th>
        Order Product
      </th>
  		<th>
        Order Item Number
      </th>
  		<th>
        Order Number
      </th>
  		<th>
        Order Time
      </th>
  		<th>
        Quantity
      </th>
  		<th>
        Sale Total
      </th>
  		<th>
        Order Status
      </th>
  	</tr>
  <% @merchant_order_items.each do |data| %>
    <tr>
    	 <% if data.shipped == true %>
        	<td>
      			<%= link_to data.product.name, order_item_path(data.id) %>
      		</td>
      		<td>
      			<%= data.order.id %>
      		</td>
        	<td>
        		<%= data.id %>
        	</td>
        	<td>
        		<%= data.order.created_at %>
        	</td>
        	<td>
        		<%= data.quantity %>
        	</td>
        	<td>
        		<%= data.product.price_in_dollars * (data.quantity) %>
        	</td>
        	<td>
        		<%= data.order.status %>
        	</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<h3>
  Total Revenue
</h3>
<p>
  <%= number_to_currency(@total_revenue) %>
</p>
<h3>
  Total Completed Orders
</h3>
<p>
  Number of Orders: <%= @completed_orders %> </br> 
  Subtotal: <%= number_to_currency(@completed_orders_subtotal) %>
</p>
<h3>
  Total Pending Orders
</h3>
<p>
  Number of Orders: <%= @pending_orders %> </br>
  Subtotal: <%= number_to_currency(@pending_orders_subtotal) %>
</p>




