<!-- Page with billing on it -->
<h1>hello</h1>

<%= form_for :orders do |f| %>

Name on credit card:<%= f.text_field :name_on_cc %><br />
Credit Card Number: <%= f.text_field :credit_card_number %><br /> 
Address:<%= f.text_field :address %><br />
Zip:<%= f.text_field :zip %><br />
Security number on credit card:<%= f.text_field :security_on_cc %><br />
Expiration on credit card:<%= f.text_field :expiration_on_cc %><br />
Email:<%= f.text_field :email %><br />
<% status = "pending" %>
Status:<%= f.hidden_field :status => status %><br />
Submit <%=f.submit%>
<%end%>
