<%= params %> </br> 

<h1>
  YOUR CART OF AWESOME WAREZ
</h1>
<h2>
  Order Items
</h2>
<i class="fa fa-shopping-cart" aria-hidden="true"></i>
  <p>
    <% @order_items.each do |item| %>
      Order ID: <%= item.order_id %> </br>
      Product ID: <%= item.product_id %> </br>
      Quantity Requested: <%= item.quantity %></br></br>
     <% end %>
  </p>
<h2>
  Give us your dollars
</h2>
<i class="fa fa-credit-card" aria-hidden="true"></i>
<p>
  <% if @billing.errors.any? %>
  <ul>
    <% @billing.errors.each do |column, message| %>
      <li>
        <%= column.capitalize %> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
  <%= form_for @billing do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br/>
    <%= f.label :address %>
    <%= f.text_field :address %><br/>
    <%= f.label :name_on_cc%>
    <%= f.text_field :name_on_cc %><br/>
    <%= f.label :number_on_cc %>
    <%= f.text_field :number_on_cc %><br/>
    <%= f.label :security_on_cc %>
    <%= f.text_field :security_on_cc %><br/>
    <%= f.label :expiration_on_cc %>
    <%= f.text_field :expiration_on_cc %><br/>
    <%= f.label :zip %>
    <%= f.text_field :zip %><br/>
    <%= f.submit %>
  <% end %>
</p>
<h2>
  Still Browsing?
</h2>
<i class="fa fa-eye" aria-hidden="true"></i></br>
<p>
  <%= link_to "back to products", products_path %>
</p>