<!-- Confirmation Page -->
<h1> Order Complete! </h1>

Item Ordered: <%= link_to @product.name, product_path(@product.id) %> </br>
Quantity Ordered: <%= @order_items.quantity %> </br>
Total Charged: <%= number_to_currency(@order.total) %></br>
Placed on: <%= @order.updated_at.strftime("%B %d, %Y") %> </br>
Status: <%= @order.status %> </br> 
Shipped: 


<!--
  done : each item in the order with a quantity and line item subtitle
  done : link to item description page
  done : order total price
  done : datetime the order was placed
  done : current status of the order
-->
