
<h1> Order Complete! </h1>

<% @total = 0 %>
<% @order_items.each do |item| %>
  <% @product = Product.find(item.product_id) %>
  Item Ordered: <%= link_to @product.name, product_path(@product.id) %> </br>
  Quantity Ordered: <%= item.quantity %> </br>
  Placed on: <%= @order.updated_at.strftime("%B %d, %Y") %> </br>
  Status: <%= @order.status %> </br> 
  Shipped: 
<% @total = (@product.price_in_dollars * item.quantity) %>
<% end %>

  <p>Total Charges: <%= number_to_currency(@total) %></p>