<h1>Hi buddy, edit your product</h1>
<%= params %>

<%= form_for @product do |f| %>
	<table>
		<td>
			<%= f.label :name %>
  		<%= f.text_field :name %>
  	</td>
  	<td>
			<%= f.label :price_in_dollars %>
  		<%= f.text_field :price_in_dollars %>
  	</td>
   	<td>
			<%= f.label :quantity %>
  		<%= f.text_field :quantity %>
  	</td>
   	<td>
  		<%= f.label :visibility %>
      <%= f.label :true %>
      <%= f.radio_button :visible, :true, :checked => :true %>
      <%= f.label :false %>
      <%= f.radio_button :visible, :false, :checked => :false %>
  	</td>
   	<td>
			<%= f.label :image_url %>
  		<%= f.text_field :image_url %>
  	</td>
   	<td>
			<%= f.label :description %>
  		<%= f.text_field :description %>
  	</td>
    	<td>
    		<%= f.submit %>
    	</td>
		<% end %>
	</table>