<h1>Hi buddy, edit your product</h1>
<%= params %>

<%= form_for @product do |f| %>
	<table>
		<td>
			<%= f.label :name %>
  		<%= f.text_field :name %>
  	</td>
    	<td>
    		<%= f.submit %>
    	</td>
		<% end %>
	</table>