<h2 class="text-center">
  NEW PRODUCTS
</h2>

<ul>
  <% @new_products.each do |product| %>
    <li>
     <%= product.name %><br>

      <%=link_to image_tag("#{product.image_url}"), product_path(product.id)%>
    </li>
  <% end %> 
</ul>

</br></br>

<h2>
  ALL PRODUCTS
</h2>

<ul>
	<% @products.each do |product| %>
    <%# user = User.find(product.user_id) %>
		<li class="product">
      <%= image_tag product.image_url %>
      <%= link_to product.name, product_path(product.id) %> - <%= product.price_in_dollars %><br>
      Sold by: <%#= link_to user.user_name, user_products_path(user.id)%></li>
      <p>
        <%=link_to "BUY NOW", cart_path(product.id), method: :post %>
      </p>
	<%end%>
</ul>



<aside>
  <h3>All Categories</h3>
<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.name, category_products_path(category.id) %></li>

  <% end %></ul>
</aside>