<section class="product-details">
  <h1 class="product-name">
    <%= @product.name %>
  </h1>
  <%=image_tag("#{@product.image_url}")%>
  <p class="product-price">
    Price: <%= @product.price_in_dollars %>
  </p>
  <p class="in-stock">
    Quantity: <%= @product.quantity %>
  </p>
  <p>
    <!-- pass product id or user_id from here?  -->
    <!-- format => user_id -->
    <%=link_to "BUY NOW", new_order_path(@product.id, :user => @product.user_id)%>
  </p>
</section>

<section class="reviews">
  <h1 class="reviews-title">Reviews</h1>
  <p class="reviews-text">


    <% @reviews.each do |review| %>
      <p> <%= review.rating %><br>
        <%= review.review_text %></p>
      <%end%>

    <% if !current_user || current_user.id != @product.user_id %>
    
      <h1>Review this product</h1>
      <%=link_to "review product", new_product_review_path(@product.id)%>

    <% end %>