<section class="product-details">
  <h2>
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    <%= @product.name %>
  </h2>
  <%=image_tag("#{@product.image_url}")%>
  <p>
    Price: <%= number_to_currency(@product.price_in_dollars) %></br>
    Quantity In Stock: <%= @product.quantity %></br>
    Description: <%= @product.description %></br>
    Sold By: </br>
    <!-- Query result here of merchant's name -->
  </p>

   <%=link_to "BUY NOW", cart_path(@product.id), method: :post, :class => "btn btn-primary btn-md" %>

</section>

<section>
  <h2>
    Product Reviews
  </h2>
  <% @reviews.each do |review| %>
    <p>
      Rating: <%= review.rating %></br>
      Review: <%= review.review_text %>
    </p>
  <%end%>

  <% if !current_user || current_user.id != @product.user_id %>
    <h3>
      <%=link_to "Review this product", new_product_review_path(@product.id)%>
    </h3>
  <% end %>
</section>