<h1> Welcome to <%= @merchant.user_name.capitalize%>'s Store!' </h1>
<ul>
<% @merchant_products.each do |product| %>
	<li><%=image_tag product.image_url%>
	Product: <%=product.name%>
	Price: <%=product.price_in_dollars%>
	Description: <%=product.description%></li>
</ul>
<% end %>
