<%= params %>
<h1>
  omfg ditzyyyy
</h1>

<% if current_user %> 
  <%= current_user.email %>
  <%= link_to "Logout", logout_path, method: "delete" %>
  <%= link_to "Dashboard", dashboard_path(current_user.id), method: "get" %> 
<% else %> 
  <%= link_to "Login", new_session_path %> 
  <%= link_to "Create An Account", new_user_path %> 
<% end %>

<h2>
  NEW PRODUCTS
</h2>
<% @new_products.each do |product| %>
  <ul>
    <%= product.name %>  
    <%=link_to(image_tag("#{product.image_url}"), product_path(product.id))%>
  </ul>
<% end %> 

</br></br>

<h2>
  ALL PRODUCTS
</h2>

  <%=link_to "All Products", products_path%>
