<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%=image_tag("ditzy_logo_final.png")%>
<% if current_user != nil %> 
  <%= current_user.email %>
  <%= link_to "Logout", logout_path, method: "delete" %>
  <%#= link_to "Dashboard", dashboard_path(current_user.id), method: "get" %> 
<% else %> 
  <%= link_to "Login", new_session_path %> 
  <%= link_to "Create An Account", new_user_path %> 
<% end %>
</header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
