<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet' type='text/css'>
    
</head>
<body>
<header>
  <%=link_to image_tag("ditzy_logo_final.png"), products_path%>

<% if current_user %> 
  <%= current_user.email %>
  <%= link_to "Logout", logout_path, method: "delete" %>
  <%= link_to "Dashboard", dashboard_path(current_user.id), method: "get" %> 
  <%= link_to "Your Cart", cart_path(current_user.id), method: "get" %>
<% else %> 
  <%= link_to "Login", new_session_path %> 
  <%= link_to "Create An Account", new_user_path %> 
  <%= link_to "Your Cart", cart_path, method: "get" %>
<% end %>

</header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
